*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepage{
    height: 100vh;
    width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.homepage div{
    height: 100px;
    width: 100px;
    border:2px solid red ;
    transition: all 3s ease;
}
.homepage div:hover{
   background-color: brown;
      /* box-shadow: X-dir  Y-dir  blur  spread  color */
   box-shadow: 10px   10px   10px  0px     gray;
   border-radius: 50%;
   /* transform: rotate(360deg); */
   transform: scale(1.3);

}