*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height:85px ;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-size:larger;
    margin-top: 32px;
}
.navbar ul li a{
    display: flex;
    align-items: center;
    color:black;
    text-decoration:none;
    padding-bottom:30px;

}
.navbar ul li a:hover{
    color:red;
    border-bottom: 3px solid red;
}
.firstpage{
    width: 100%;
    height: 100vh;
    background-image:url(image/banner1.jpg);
    display: flex;
    align-items: center;
    padding-left:80px;
}
.box1{
  width: 450px;
  height: 350px;
  background-color:rgba(0, 0, 0, 0.643);
  color: white;
  border-left: 5px solid red;
}
.box1 h1{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items:center;
}
.arival{
    display: flex;
    padding-left: 70px;

}
.box1 input{
    font-size: larger;
    padding-top:20px;
    height:20px;
    width:300px;
    padding-bottom: 20px;
    padding-left:15px;
}
.box1 button{
   height: 60px;
   width: 200px;
   background-color: red;
   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: larger;
   margin-left: 110px;
   border: none;
   overflow: hidden;
}
.box2{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 30px;
    padding:100px 100px;
    overflow: hidden;
   
 }
.aboutcontant{
    width:40%;
    height: 65vh;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
}
.aboutimage{
   width: 600px;
   height: 450px;
   /* background-image: url(image/about.png); */
   overflow: hidden;
}

.aboutimage img{
   transition: all 2s ease;

}


.aboutimage img:hover{
   transform: scale(1.05);
   /* overflow: hidden; */
}
.aboutcontant button{
    height: 45px;
    width: 144px;
    background-color:black;
    border-radius:25px;
    border: none;
    color: white;
    font-size: 17px;
    transition: all 2s ease;
}
.aboutcontant button:hover{
    background-color: red;
}
.box3{
    width: 100%;
    height: 180vh;
    background-color:rgb(239, 235, 235);
}
.box3 h1{
   font-size: 40px;
   font-weight: bold;
   margin-top: 70px;
   display: flex;
   justify-content: center;
   padding-top:65px;
}
.box3 p{
    margin: 10px;
   font-size: 20px;
   font-weight:bold;
   font-variant: normal;
   line-height: 24px;
   display: flex;
   justify-content: center;
}
.card-cantainer{
    width: 100%;
    height: 140vh;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 50px;
    gap: 40px;
}
.card{
    width:350px;
    height: 350px;
    background-color:white;
    overflow: hidden;
    
}
 
.card img{
   overflow: hidden; 
   transition: all 2s ease;
}
.card img:hover{
  transform: scale(1.2); 
}
  
.card div{
    height: 150px;
    width:100%;
    padding: 10px 20px;
    background-color: whitesmoke;
}
.card div h2{
  padding:20px 95px;
}
.card div p{
    margin: 0px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: block;
    word-spacing: 4px;
}
.GALLERY{
  width: 100%;
  height: 115vh;
  background-color: white;
}
.galleryphoto{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.galleryphoto div{
   height: 220px;
   width: 22%;
   margin-bottom: 20px;
}
.GALLERY h2{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-size: 40px;
}
.blog{
    height: 120vh;
    width: 100%;
    background-image:url(image/bg.jpg);
}
.blog h2{
    display: flex;
    justify-content: center;
    padding-top:60px;
    color: white;
    font-size: 40px;
}
.blog p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight:500;
    padding: 10px 0px;
}
.blog1{
    height: 40vh;
    width: 100%;
    display:flex;
   justify-content: center;
   gap: 23px;
   flex-wrap: wrap;
   margin-top: 20px;
}
.blog2{
    margin-top: 0px;
   height:40vh;
   width: 28%;
   display: flex;
}
.blog3{
     height: 50vh;
    width: 100%;
    display:flex;
   justify-content: center;
   gap: 23px;
   flex-wrap: wrap;
}
.blog3 div{ 
   height:40vh;
   width: 28%;
   background-color: white;
   padding: 30px 30px;
}
.blog3 div h3{
    color: #121212;
    font-size: 25px;
    font-weight: 500;
    font-weight: bold;
}
.blog3 div span{
   font-size: 18px;
    color: #ff0909;
    font-weight: bold;
    padding-top: 18px;
}
.blog3 div p{
   font-size: 18px;
   font-weight:bold;
   font-variant: normal;
   line-height: 24px;
   display: flex;
   justify-content: center;
   color: #656363;
}
.contactus {
    width: 100%;
    height: 120vh;
    background-color:white ;
}
.contactus h1{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-size: 40px;
    font-weight:bold;
}
.contact1{
   width: 100%;
   height: 90vh;
   padding: 30px 30px;
   display: flex;
   gap: 20px;
}
.contact2 input{
    width: 100%;
    height: 20px;
    padding: 30px 10px;
    margin: 18px 0px;
    font-size: large;
    box-shadow: 2px 2px 9px 0.5px rgb(243, 179, 179);
    border:none;
}
.contact2{
     width: 50%;
   height: 80vh;
}
.contact2 textarea{
    height: 170px;
    width: 100%;
    font-size:20px;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: 0;
    box-shadow: 2px 2px 9px 0.5px rgb(243, 179, 179);
    border:none;
}
.contactus button{
     margin: 20px 38px;
     padding: 17px 60px;
     background-color: black;
     border-radius:40px ;
     font-size: 23px;
     color: white;
     border: none;
     transition: all 2s ease;
}
.contactus button:hover{
    background-color: #ff0909;
}
.dashboard{
    height: 100vh;
    width: 100%;
    /* background-color: #121212; */
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}